* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #18181b;
  color: #ffffff;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  background: #373639;
  width: min(960px, 100% - 32px);
  border-radius: 16px;
  box-shadow: 0 0 13px rgba(255, 255, 255, 0.5);
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.info-panel {
  width: 100%;
}

.info-box-wrapper {
  display: flex;
  gap: 16px;
}

.info-box {
  background: #18181b;
  padding: 16px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  height: 100%;
}

.label {
  font-size: 17px;
  color: #fd5c27;
  font-weight: 600;
}

.value {
  font-size: 20px;
  color: #ffffff;
  font-weight: 600;
}
